name: Build and push cwt-generator image to Quay.io registry
on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build cwt-generator image
        id: build-image
        # https://quay.io/repository/rhscl/cwt-generator
        # https://github.com/marketplace/actions/buildah-build
        uses: redhat-actions/buildah-build@v2
        with:
          dockerfiles: ./Dockerfile.generator
          image: cwt-generator
          tags: latest 1 ${{ github.sha }}

      - name: Push cwt-generator image to Quay.io
        id: push-to-quay
        uses: redhat-actions/push-to-registry@v2.2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/rhscl
          username: ${{ secrets.QUAY_IMAGE_RHSCL_BUILDER_USERNAME }}
          password: ${{ secrets.QUAY_IMAGE_RHSCL_BUILDER_TOKEN }}

      - name: Print image url
        run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
